/*------------------------------------------------------------------
Project:  ComingSoon
Version:  
Last change:  
Assigned to:  Bach Le
Primary use:  
-------------------------------------------------------------------*/


/*//////////////////////////////////////////////////////////////////
[ S-Text 0 - 15 ]*/
.s1-txt1 {
  font-family: Montserrat-SemiBold;
  font-size: 14px;
  color: #3D4351;
  line-height: 1.2;
  text-transform: uppercase;
}



/*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 25 ]*/
.m1-txt1 {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #3D4351;
  line-height: 1;
}



/*//////////////////////////////////////////////////////////////////
[ L-Text >= 26 ]*/
.l1-txt1 {
  font-family: Montserrat-Regular;
  font-size: 24px;
  color: #3D4351;
  line-height: 1;
}

.l1-txt2 {
  font-family: Playlist Script;
  font-size: 180px;
  color: #3D4351;
  line-height: 1.1;
}

